<div class="container" style="margin: 20;">
    <h1>Add Ingredients</h1>
    <div>
        <div>
            <label for="exampleFormControlInput1" class="form-label">Add Ingredient Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Add Ingredient">
          </div>
          <div>
            <label for="exampleFormControlTextarea1" class="form-label">Add Quantity</label>
            <input type="number" class="form-control" id="exampleFormControlTextarea1" rows="3">
          </div>
          <div style="margin-top: 20;">
            <button type="button" class="btn btn-primary">Add Ingredient</button>
          </div>
    </div>
</div>
